{% extends 'AdminBase.html' %}

{% block header %}
<h2>所有訂位資料</h2>
{% endblock %}

{% block box %}
<div class="row">
    <div class="col-12">
        <!-- Table -->
        <section class="box">
            <h3> </h3>
            <div class="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th><h4>電話</h4></th>
                            <th><h4>車位號</h4></th>
                            <th><h4>車牌號碼</h4></th>
                            <th><h4>時間</h4></th>
                            <th><h4>金額</h4></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for Data in DBfatch %}
                        <tr>
                            <td>{{ Data[0] }}</td>
                            <td>{{ Data[1] }}</td>
                            <td>{{ Data[2] }}</td>
                            <td>{{ Data[3] }}</td>
                            <td>{{ Data[4] }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <ul class="actions special">
                <li><a href="{{ url_for('Administration') }}#booking" class="button primary">回管理端首頁</a></li>
            </ul>
        </section>
    </div>
</div>
{% endblock %}