{% extends 'Base.html' %}

{% block title %}管理系統{% endblock %}

{% block nav %}
<ul>
	<li><a href="{{ url_for('Administration') }}">管理端首頁</a></li>
	<li>
		<a href="#" class="icon solid fa-angle-down"></a>
		<ul>
			<li><a href="{{ url_for('AdminAlldata') }}">查看所有訂位資料</a></li>
			<li><a href="{{ url_for('Adminsearch') }}">查詢指定客戶訂位</a></li>
			<li><a href="{{ url_for('Admindelete') }}">取消指定客戶訂位</a></li>
			<li><a href="{{ url_for('Adminlog') }}">列出所有紀錄</a></li>
		</ul>
	</li>
	<li><a href="{{ url_for('Adminlogout') }}" class="button">Logout</a></li>
</ul>
{% endblock %}
