{% extends 'AdminBase.html' %}

{% block content %}
<!-- Banner -->
<section id="banner">
	<h2>-訂位管理系統-</h2>
	<ul class="actions special">
		<li><a href="{{ url_for('AdminAlldata') }}" class="button">查看所有訂位資料</a></li>
		<li><a href="{{ url_for('Adminsearch') }}" class="button">查詢指定客戶訂位</a></li>
		<li><a href="{{ url_for('Admindelete') }}" class="button">取消指定客戶訂位</a></li>
		<li><a href="{{ url_for('Adminlog') }}" class="button">列出所有紀錄</a></li>
	</ul>
</section>

<section id="main" class="container">
	<section class="box special">
		<span class="image featured"><img src="{{ url_for('static', filename='css/images/homepage.jpg') }}" alt="" /></span>
	</section>
</section>
{% endblock %}