{% extends 'Base.html' %}

{% block title %}線上訂位系統管理端{% endblock %}

{% block header %}
<h2>輸入您的資料</h2>
{% endblock %}

{% block box %}
<div class="box">
    <form action="/login" method="post">
        <div class="row gtr-50 gtr-uniform">
            <div class="col-12">
                <input type="text" name="unumber" id="unumber" value="" placeholder="車牌號碼" />
            </div>
            <div class="col-12">
                <input type="text" name="uphone" id="uphone" value="" placeholder="電話號碼" />
            </div>
            <div class="col-12">
                <ul class="actions special">
                    <li><input type="submit" value="確定" /></li>
                </ul>
            </div>
        </div>
    </form>
</div>
{% endblock %}