{% extends 'Base.html' %}

{% block title %}線上訂位系統管理端{% endblock %}

{% block header %}
<h2>管理員登入端</h2>
{% endblock %}

{% block box %}
<div class="box">
    <form method="post" action="#">
        <div class="row gtr-50 gtr-uniform">
            <div class="col-12">
                <input type="text" name="account" id="account" value="" placeholder="account" />
            </div>
            <div class="col-12">
                <input type="text" name="password" id="password" value="" placeholder="password" />
            </div>
            <div class="col-12">
                <ul class="actions special">
                    <li><input type="submit" value="登入" /></li>
                </ul>
            </div>
        </div>
    </form>
</div>
{% endblock %}