{% extends 'Base.html' %}

{% block title %}停車場訂位網站{% endblock %}

{% block nav %}
<ul>
    <li><a href="{{ url_for('index') }}">首頁</a></li>
    <li>
        <a href="#" class="icon solid fa-angle-down"></a>
        <ul>
            <li><a href="{{ url_for('index') }}#booking">立即訂位</a></li>
            <li><a href="{{ url_for('search') }}">查詢訂位</a></li>
        </ul>
    </li>
</ul>
{% endblock %}

{% block header %}
<h2>{% block table %}{% endblock %}</h2>
<h1>訂位系統<h1>
<h2 class="emp">{{msg}}</h2>
<ul class="actions special">
    <li><a href="{{ url_for('index') }}" class="button primary">回首頁</a></li>
</ul>
{% endblock %}

{% block box %}{% endblock %}