{% extends 'Base.html' %}

{% block title %}線上訂位系統-報到{% endblock %}

{% block header %}
<h2>選擇車位</h2>
{% endblock %}

{% block box %}
<form action="/Report" method="post">
    <div class="box">
        <div class="row gtr-0 gtr-uniform">
            <div class="button col-6 ">
                <input type="radio" id="1號" name="pnumber" value="1" checked>
                <label for="1號" style="color: aliceblue;">1號</label>
            </div>
            <div class="button col-6 ">
                <input type="radio" id="2號" name="pnumber" value="2" checked>
                <label for="2號" style="color: aliceblue;">2號</label>
            </div>
            <div class="button col-6 ">
                <input type="radio" id="3號" name="pnumber" value="3" checked>
                <label for="3號" style="color: aliceblue;">3號</label>
            </div>
            <div class="button col-6 ">
                <input type="radio" id="4號" name="pnumber" value="4" checked>
                <label for="4號" style="color: aliceblue;">4號</label>
            </div>
        </div>
    </div>
    <div class="row gtr-50 gtr-uniform">
        <div class="col-12">
            <input type="text" name="unumber" id="unumber" value="" placeholder="車牌號碼" />
        </div>
        <div class="col-12">
            <ul class="actions special">
                <li><input type="submit" value="報到" /></li>
            </ul>
        </div>
    </div>
</form>
{% endblock %}